.heading {
    box-shadow: 5px 5px 5px #444;
}

.note {
    font-size: 15px;
    color: #fff;
}

canvas {
    margin: 40px auto;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #444;
}